Package: page.liam.xinaminepatcherscript
Replaces: ez.now.xinaminepatcherscript
Conflicts: ez.now.xinaminepatcherscript
Version: 1.7.2-2
Section: System
Depends: ellekit, file, odcctools, ldid
Maintainer: Liam Huang
Architecture: iphoneos-arm64
Name: Xinamine Patcher (Liam)
Author: NoW4U2Kid, Liam Huang
Description: IMPORTANT: Make sure to use Dopamine (Liam) 1.1, and jailbreak with BridgeToXinA open. To convert, just go to Jailbreak Filza (the Trollstore one won't work), tap and hold on the deb you are wanting to convert, select "Scripts" from the pop-up menu, and click XinaminePatcher-Liam. Then just wait for your deb to convert!
 - YES, this is much better than Derootifier or any other rootless conversion script.
 - Supported jailbreaks: Dopamine, Fugu15Max, Palera1n (rootless), Xina, or any other rootless jailbreak.
 - Repacks tweaks as rootless, but this script is by far the best script for converting tweaks to rootless because it additionally modifies paths like with Xina jailbreak, so it works with almost every tweak.
 - Credits: @Xina520 (for the Xina jailbreak, which I looked at for inspiration for modifying paths), @Teutates on GitHub (for repack-rootless.sh, which I used to automate the default rootless conversion process), @sudo for ideas and a few modifications here and there, @évelyne for Allemand (removes the need for having Legacy arm64e Support/oldabi), @NoW4U2Kid for build this script firstly.
